<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <div class="title">
    <h4>Cadastro</h4>
    <p>Registre-se na Clínica La Vida para possuir acessso aos serviços do paciente</p>
  </div>

  <ion-input placeholder="Nome Completo" class="primary-input"></ion-input>
  <ion-input placeholder="E-mail" class="primary-input"></ion-input>
  <ion-input placeholder="Senha" type="password" class="primary-input"></ion-input>

    <ion-grid>
      <ion-row>
        <ion-col size="auto" size-md="2" size-lg="2">
          <ion-checkbox></ion-checkbox>
        </ion-col>
        <ion-col size="10" size-md="10" size-lg="10">
          <p>Ao se cadastrar, você concorda com nossos <a class="termos" href="">Termos e Condições</a></p>
        </ion-col>
      </ion-row>
    </ion-grid>

  <div class="ion-margin-top">
    <ion-button (click)="login()" expand="block">CADASTRAR</ion-button>
    <!-- (click)="register()" -->
  </div>

  <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">Fechar</a>
  </div>
</ion-content>